body {
  padding: 40px;
  background: whitesmoke;
  margin: 10em 0 0;
}

#apple-shelf {
  background: lightcoral;
  border-radius: 10px;
  height: 30px;
  margin: 10px 0;
}

#orange-shelf {
  background: lightsalmon;
  border-radius: 10px;
  height: 30px;
}
